---
layout: default
title: Home
---

<h1 class="page-title">អភិធម្មសង្គហ រូបបរមត្ថ បរិចេ្ឆទទី៦</h1>
{% for post in paginator.posts %}
  {% 
    include video-card.html 
      videoUrl=post.videoUrl 
      title=post.title
      rank=forloop.index
      date=post.date
      name=post.teacher
      venue=post.venue
      recordedBy=post.recordedBy
  %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
      <a class="pagination-button pagination-active {% if page.url == trail.path %} pagination-selected{% endif %}" href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
    {% endfor %}
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}

</div>
